// Add radius only for top right and bottom right corners
.button{
    -fx-background-color: #282828;
    -fx-background-radius: 0em 0em 0em 0em;
    -fx-border-color: transparent;
    -fx-border-radius: 0em 0em 0em 0em;
}

.button:pressed{
    -fx-background-color: #165DDB;
    -fx-background-radius: 0em 0em 0em 0em;
}

.button:hover{
    -fx-background-radius: 0em 0em 0em 0em;
    -fx-background-radius: 0em 0em 0em 0em;
    -fx-background-color: #165DDB;
}

.button:focused{
    -fx-background-color: #165DDB;
    -fx-background-radius: 0em 0em 0em 0em;
    -fx-border-color: #165DDB;
    -fx-border-radius: 0em 0em 0em 0em;
}